/*
    ------------------------
    ------- Spacing --------
    ------------------------
*/

:root{
    --space-xxxs: .125rem;  // 2px
    --space-xxs: .25rem;    // 4px
    --space-xs: .5rem;      // 8px
    --space-sm: .75rem;     // 12px
    --space-base: 1rem;     // 16px
    --space-md: 1.125rem;   // 18px
    --space-lg: 1.25rem;    // 20px
    --space-xl: 1.5rem;     // 24px
    --space-2xl: 1.75rem;   // 28px
    --space-3xl: 2rem;      // 32px
    --space-4xl: 3rem;      // 48px
    --space-5xl: 3.5rem;    // 56px
    --space-7xl: 4rem;      // 64px
    --space-8xl: 7.7778rem; // 140px
    --space-9xl: 9.1111rem; // 164px
    --space-11xl: 10.94rem; // 197px
}