/*
    ------------------------
    -------- Form ----------
    ------------------------
*/

.form{

    background-color: var(--color-white);
    padding: var(--space-xl);
    border-radius: var(--space-sm);
    box-shadow: var(--bxs-card);
    
    > *:not(:last-child){
        margin-bottom: var(--space-xl);
    }

    input,
    textarea{
        display: block;
        width: 100%;
        color: var(--color-form-input-text);

        &:invalid{
            border-color: var(--color-form-input-text-invalid);
            color: var(--color-form-input-text-invalid);
        }

        &::placeholder {
            color: var(--color-form-input-placeholder);
            opacity: 1; /* Firefox */
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: var(--color-form-input-placeholder);
        }
          
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: var(--color-form-input-placeholder);
        }
    }

    &__control{
        border-bottom: 1px solid var(--color-form-input-border);
        padding: var(--space-base);
    }

    .btn{
        width: 100%;
    }

    .plans{

        position: relative;

        &__selector{
            width: 100%;
            @include flex(sb, c, row);
        }

        &__selector.isOpen{
            .plans__arrow{
                transform: rotate(180deg);
                transition: transform .25s ease-out;
            }
        }
        
        &__arrow{
            background-image: url(../../../assets/sign-up/icon-arrow-down.svg);
            width: 13px;
            height: 8px;
            transition: transform .25s ease-out;
        }

        &__menu{
            display: none;
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            padding: var(--space-xl) var(--space-3xl);
            background-color: var(--color-white);
            border-radius: var(--space-xs);
            border: 1px solid rgba(51, 57, 80, .1533);

            > *:not(:last-child){
                margin-bottom: var(--space-base);
            }
        }

        &__item{
            cursor: pointer;

            &:not(:last-of-type){
                padding-bottom: var(--space-base);
                border-bottom: 1px solid var(--color-form-input-border);
            }
        }

        &__item.selected{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                background-image: url(../../../assets/sign-up/icon-check.svg);
                width: 15px;
                height: 12px;
            }
        }
    }

    // Tablet & Desktop
    @include breakpoint-up(medium){
        padding: var(--space-4xl);
    }
}