/*
    ------------------------
    ------- Shape ----------
    ------------------------
*/

.shape{
    background-repeat: no-repeat;
    &--home{
        &-1{
            background-image: url(../../../assets/home/bg-pattern-header.svg);
            background-position: center -170px;
            background-size: 122%;
            width: 100%;
            height: 458px;
        }
        &-2{
            background-image: url(../../../assets/home/bg-pattern-footer.svg);
            background-position: center 100px;
            background-size: 1202px 1202px;
            width: 100%;
            height: 1202px;
        }

        // Tablet
        @include breakpoint-up(medium){
            &-1{
                background-position: 293px -164px;
                width: 666px;
                height: 666px;
            }
            &-2{
                background-position: center 480px;
                background-size: 1454px 1454px;
                width: 100%;
                height: 1454px;
            }
        }

        // Desktop
        @include breakpoint-up(large){
            &-1{
                background-position: 350px -419px;
                width: 1134px;
                height: 1134px;
            }
            &-2{
                background-position: -702px 800px;
                background-size: 2036px 2036px;
                width: 100%;
                height: 2036px;
            }
        }
    }

    &--signup{
        &-1{
            background-image: url(../../../assets/home/bg-pattern-header.svg);
            background-position: center -170px;
            background-size: 122%;
            width: 100%;
            height: 458px;
        }
        &-2{
            background-image: url(../../../assets/home/bg-pattern-footer.svg);
            background-position: center -420px;
            background-size: 1202px 1202px;
            width: 100%;
            height: 320px;
        }

        // Tablet
        @include breakpoint-up(medium){
            &-1{
                display: none;
            }
            &-2{
                background-position: center -500px;
                background-size: 1454px 1454px;
                width: 100%;
                height: 380px;
            }
        }

        // Desktop
        @include breakpoint-up(xlarge){
            &-2{
                background-position: -740px 500px;
                background-size: 2036px 2036px;
                width: 30%;
                height: 2036px;
            }
        }
    }
}