/*
    ------------------------
    ------- Shape ----------
    ------------------------
*/

.shape{
    position: relative;
    overflow: hidden;
    &--home{
        &-1{
            width: 100%;
            height: 458px;
            
            &::before{
                content: '';
                position: absolute;
                top: -170px;
                left: -42px;
                right: -42px;
                margin: auto;
                background-image: url(../../../assets/home/bg-pattern-header.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 458px;
                height: 458px;
            }
        }
        &-2{
            width: 100%;
            height: 1202px;
            
            &::before{
                content: '';
                position: absolute;
                top: 100px;
                bottom: 0;
                left: -1202px;
                right: -1202px;
                margin: 0 auto;
                background-image: url(../../../assets/home/bg-pattern-footer.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 1202px;
                height: 1202px;
            }
        }

        // Tablet
        @include breakpoint-up(medium){
            &-1{
                background-position: 293px -164px;
                width: 100%;
                height: 666px;

                &::before{
                    top: -164px;
                    left: 395px;
                    margin: auto 0;
                    width: 666px;
                    height: 666px;
                }
            }
            &-2{
                width: 100%;
                height: 1454px;

                &::before{
                    top: 480px;
                    bottom: 0;
                    left: -1454px;
                    right: -1454px;
                    margin: 0 auto;
                    width: 1454px;
                    height: 1454px;
                }
            }
        }

        // Desktop
        @include breakpoint-up(large){
            &-1{
                width: 100%;
                height: 1134px;

                &::before{
                    top: -419px;
                    left: 656px;
                    margin: auto 0;
                    width: 1134px;
                    height: 1134px;
                }
            }
            &-2{
                width: 100%;
                height: 2036px;

                &::before{
                    top: 800px;
                    left: -702px;
                    margin: initial;
                    width: 2036px;
                    height: 2036px;
                }
            }
        }
    }

    &--signup{
        &-1{
            width: 100%;
            height: 458px;

            &::before{
                content: '';
                position: absolute;
                top: -170px;
                left: -42px;
                right: -42px;
                margin: auto;
                background-image: url(../../../assets/home/bg-pattern-header.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 458px;
                height: 458px;
            }
        }
        &-2{
            width: 100%;
            height: 320px;

            &::before{
                content: '';
                position: absolute;
                top: -420px;
                bottom: 0;
                left: -1202px;
                right: -1202px;
                margin: 0 auto;
                background-image: url(../../../assets/home/bg-pattern-footer.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 1202px;
                height: 1202px;
            }
        }

        // Tablet
        @include breakpoint-up(medium){
            &-1{
                display: none;
            }
            &-2{
                width: 100%;
                height: 380px;

                &::before{
                    top: -500px;
                    left: -1454px;
                    right: -1454px;
                    margin: 0 auto;
                    width: 1454px;
                    height: 1454px;
                }
            }
        }

        // Desktop
        @include breakpoint-up(xlarge){
            &-2{
                width: 30%;
                height: 2036px;

                &::before{
                    top: 500px;
                    left: -740px;
                    margin: initial;
                    width: 2036px;
                    height: 2036px;
                }
            }
        }
    }
}