/*
    ------------------------
    ------- Signup ---------
    ------------------------
*/

.main{
    position: relative;

    &--signup{

        .shape{
            position: absolute;
            z-index: var(--z-back);
            &--signup{
                &-1{
                    top: 0;
                    right: 0;
                }
                &-2{
                    background-color: var(--color-dark);
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}