/*
    ------------------------
    ------- Header --------
    ------------------------
*/

.header{

    // Mobile
    padding: var(--space-5xl) 0;

    .nav{
        @include flex(c, c, row);
    }

    // Tablet
    @include breakpoint-up(medium){
        padding: var(--space-8xl) 0;

        .nav{
            justify-content: flex-start;
        }
    }

    // Desktop
    @include breakpoint-up(large){
        padding: var(--space-9xl) 0;
    }
}