/*
    ------------------------
    ------- Pricing --------
    ------------------------
*/

.pricing{
    // Mobile
    > *:not(:last-child){
        margin-bottom: var(--space-3xl);
    }

    &__plan{
        max-width: 350px;
        margin: 0 auto;
    }

    // Tablet
    @include breakpoint-up(medium){
        > *:not(:last-child){
            margin-bottom: var(--space-xl);
        }

        &__plan{
            max-width: 689px;
        }
    }

    // Desktop
    @include breakpoint-up(large){
        @include flex(sb, c, row);

        > *:not(:last-child){
            margin-bottom: initial;
        }

        &__plan{
            max-width: 350px;
            width: 33%;
        }
    }
}